

h1 {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 26.4px;
    color: white;
}
body {
    text-align: center;
    background-color: black;
}


button {
    border: none;
    color: white;
    padding: 10% 32%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#lightbowle{
    margin-top: 10%;
    width: 25%;
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}

#lightbowlDiv{
    height: 100%;
    width: 100%;
}
#executable{
    height: 100%;
    width: 100%;
}


/*button:active{
    background:red;
}

button:hover{
    background:lightcoral;
}*/

@media screen and (max-aspect-ratio: 8/10) {
    #lightbowle{
        width: 100%;
    }
}